

/*
@font-face {

    font-family: Futura Book Italic;
    src: url(fonts/FuturaBookC-Italic.eot);
    src: local(pompadur), url(fonts/FuturaBookC-Italic.ttf);
   }

   @font-face {
    font-family: Futura PT Book;
    src: url(fonts/FuturaPT-Book.eot);
    src: local(pompadur), url(fonts/FuturaPT-Book.ttf);
   }
*/
@font-face {
    font-family: Copperplate; /* Гарнитура шрифта */
    /*src: url(fonts/FuturaBookC-Italic.eot);*/ /* Для IE5-8 */
    src: local(pompadur), url(fonts/new/copperplate.otf); /* Для остальных браузеров */
}
@font-face {
    font-family: Copperplate Bold; /* Гарнитура шрифта */
    /*src: url(fonts/FuturaBookC-Italic.eot);*/ /* Для IE5-8 */
    src: local(pompadur), url(fonts/new/copperplate_bold.otf); /* Для остальных браузеров */
}
@font-face {
    font-family: Copperplate Light; /* Гарнитура шрифта */
    /*src: url(fonts/FuturaBookC-Italic.eot);*/ /* Для IE5-8 */
    src: local(pompadur), url(fonts/new/copperplate_light.otf); /* Для остальных браузеров */
}
