<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Treaser - Book landing template">
    <meta name="keywords" content="Treaser,creative,author,book,ebook,marketing,digital, agency, startup,onepage, clean, modern,business, company">

    <meta name="author" content="dreambuzz">

    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Animate Css -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js" integrity="sha512-Ks94O6MWV+hcOyqlaaOmsDe08l4+EFiDetgxBKAJ5I995UEn+u4DQ9ziANFLqpQhMLGbmCq02A/U3Tryjdgwcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" integrity="sha512-Q8vAB6GL+zb917fZJJJxO8TKJH5lZKsqnEDO+0oUjy5wpc/jYo5QpMuMx84n8m/gY/DitaK1j2DQeb/Vosudtg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/2.0.0-beta1/js/i18n/defaults-ru_RU.min.js" integrity="sha512-6nf1CdpbuZynDaUgXAVxRNvc23w7nM5JlihOSdsIkhG08Be/shDQP7ePUqIG9I1sq02zCxMJIwiyHRyJ8utCjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script-->
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
    <!--  icon Css -->
    <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.theme.default.min.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Latest compiled and minified CSS -->
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/i18n/defaults-ru_RU.min.js" integrity="sha512-vCLvbS0EcZMA9JDGOl0T8qNfJobkIzv2yaypJ9SPbG3lTK+Ljbz1oExQgHZ1/HZ8PBww5z/sPdLeVs6wQaNGFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>


<body id="top-header">
<!-- Navigation Menu -->

<!-- NAVBAR
================================================= -->
<div class="main-navigation fixed-top site-header border-bottom" id="mainmenu-area">
    <nav class="navbar navbar-expand-lg ">
        <div class="container align-items-center">
            <a class="navbar-brand" href="/">
                <h2 class="mb-0"><span class="text-color">Min</span>kukol</h2>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu-alt"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse text-center text-lg-left" id="navbarmain">
                <!-- Links -->
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link smoth-scroll">
                            Главная
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/catalog" class="nav-link smoth-scroll">
                            Каталог
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="/scan" class="nav-link smoth-scroll">
                            Сканирование
                        </a>
                    </li>

                    <!--li class="nav-item ">
                        <a href="#reviews" class="nav-link smoth-scroll">
                            Вопросы и ответы
                        </a>
                    </li-->

                    <li class="nav-item ">
                        <a href="/catalog" class="nav-link smoth-scroll">
                            Поиск
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a href="#contact" class="nav-link smoth-scroll bg-danger text-white">
                            Обратная связь
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

{% block body %}{% endblock %}

<!-- Contact -->
<hr>
<section class="section contact " id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="section-heading">
                    <h2 class="mb-2 text-lg">Обратная связь</h2>
                    <p>Задайте свой вопрос!</p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-9 col-sm-12 pr-5 col-md-8">

                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" id="name" name="name" class="form-control" placeholder="Имя">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Телефон">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea id="message" name="message" cols="30" rows="6" class="form-control" placeholder="Вопрос"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="d-lg-flex justify-content-between mt-4">
                            <input name="submit" class="btn btn-main btn-rounded" value="Отправить сообщение" id="sendFeedBack">
                        </div>
                    </div>
            </div>

            <div class="col-lg-3 col-sm-12 col-md-4">
                <div class="contact-info-block mb-4 mt-5 mt-lg-0 mt-md-0">
                    <h4 class="mb-2">Телефон</h4>
                    <p>+7 (926) 153-50-35 </p>
                </div>

                <div class="contact-info-block mb-4">
                    <h4 class="mb-2">Email</h4>
                    <p>elena2557@yandex.ru</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Footer start -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p class="footer-copy text-white-50 mb-0">
                    &copy; Copyright <span class="current-year">Minkukol</span> 2024
                </p>
            </div>
        </div> <!-- / .row -->
    </div>
</footer>


<!--  Page Scroll to Top  -->
<a class="scroll-to-top smoth-scroll" href="#top-header">
    <i class="ti-angle-up"></i>
</a>


<!--
Essential Scripts
=====================================-->


<!-- Main jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4.3.1 -->
<script src="plugins/bootstrap/js/popper.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<!-- Counter Js -->
<script src="plugins/counterup/waypoint.js"></script>
<script src="plugins/counterup/jquery.counterup.min.js"></script>
<script src="js/contact.js"></script>
<script src="js/theme.js"></script>

{% block script %}{% endblock %}

<script>
    $(document).ready(function () {
        var bookName = '';

        $(document).on('click', '#sendFeedBack', function () {
            let saveMessage = false;

            if ($('#email').val().length > 0){
                saveMessage = true
            }
            if ($('#phone').val().length > 0){
                saveMessage = true
            }
            if (!saveMessage){
                alert('Заполните телефон или  email')
                return;
            }
            $.ajax({
                url: '/feedback/create',
                method: 'post',
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    phone: $('#phone').val(),
                    message: $('#message').val(),
                    book: bookName,
                },
                success: function (data) {
                    $('#contact').find('.col-lg-9.col-sm-12.pr-5.col-md-8').hide()
                    $('#contact').find('.col-lg-3.col-sm-12.col-md-4').hide()
                    $('#contact').find('.section-heading').html('<h2>Благодарим Вас! С Вами свяжутся в ближайшее время.</h2>')
                },
                error: function (jqXHR, exception) {
                    if (jqXHR.status === 0) {
                        alert('Not connect. Verify Network.');
                    } else if (jqXHR.status == 404) {
                        alert('Requested page not found (404).');
                    } else if (jqXHR.status == 500) {
                        alert('Internal Server Error (500).');
                    } else if (exception === 'parsererror') {
                        alert('Requested JSON parse failed.');
                    } else if (exception === 'timeout') {
                        alert('Time out error.');
                    } else if (exception === 'abort') {
                        alert('Ajax request aborted.');
                    } else {
                        alert('Uncaught Error. ' + jqXHR.responseText);
                    }
                }
            });
        }); // отправка запроса на изменение типа цены
        $(document).on('click', '.initBook', function () {
            bookName = $(this).data('name');
        });
    })
</script>
</body>
</html>
